input {
	padding:10px 10px;
	margin-bottom:20px;
	border:1px solid #ddd;
	border-radius:3px;
}
input[type="submit"] {
	text-align:center;
	color:#fff;
	border:0;
	text-transform:uppercase;
	background: $green;
	height:60px;
	&:hover {
		background:#497a70;
	}
}
.btn {
	color:$green;
	background:rgba(255,255,255,.8);
	padding: 20px 20px;
	display:block;
	width:200px;
	text-align:center;
	font-weight:700;
	font-size:18px;
}
